#site-menu {
  z-index: 9999;
  width: 300px;
  transition: transform 400ms ease;
  transform: translateX(-100%);
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: white;
  min-width: 280px;
  max-width: 90%;

  &.showing {
    transform: translateX(0);
  }

  &.unlocked {
    position: absolute !important;
  }

  .header {
    >h2 {
      margin: 0 auto;
      color: color-primary;
    }
  }

  md-list {
    md-icon {
      color: color-primary;
      padding-right: 10px;
    }
  }

  .toolbar {
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
    }

    .navigation {
      background: whitesmoke;
      padding: 5px 16px;

      md-icon, a {
        color: grey;
      }

      .parent {
        background: #e4e4e4;
        color: #292929;
        padding: 2px 6px;
      }
    }
  }

  md-list-item {
    &.active {
      pointer-events: none;
      background: color-accent;

      &._md-button-wrap>div.md-button:first-child {
        font-weight: bold;
      }
    }

    a.md-button {
      margin: 0;
      padding: 5px 10px;
    }
  }
}

.sidebar-default {
  .heading {
    background: color-primary;
    color: white;
  }

  .item {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
      background: rgb(231, 231, 231);
    }

    &.active {
      pointer-events: none;
      background: color-accent;
    }
  }
}
