<%if(!item.menuHide){%>
<a ng-href="<%-await get_path(item)%>"
  class="ag-list-item item"
  layout="row"
  layout-align="start center">
  <%-await template('ui/has-role',{authorization:item.authorization})%>
  <span>
    <%-lng(item.title)%></span>
  <span flex="auto"></span>
  <md-icon md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
</a>
<%}%>